@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #363636;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

a {
  text-decoration: none;
  color: #363636;
}

.container {
  width: calc(min(900px, 98%));
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#navbar {
  display: -ms-grid;
  display: grid;
  height: 3rem;
  place-items: center;
  font-size: 1.2rem;
  font-weight: 400;
}

#navbar a:hover {
  background-color: #f0f0f0;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.squares-icon {
  color: #6faee2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 0px 3px;
  font-size: 1.6rem;
  margin: 1rem;
}

#memory-game {
  background-color: #2B87D1;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#memory-game .background {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#memory-game .start-panel {
  color: white;
}

#memory-game .start-panel .squares-icon {
  font-size: 4.6rem;
  color: white;
  gap: 0px 10px;
}

#memory-game .start-panel span {
  font-size: 4rem;
}

#memory-game .start-panel p {
  font-size: 1.2rem;
}

#memory-game .start-panel button {
  border: none;
  padding: 1rem 2rem;
  background-color: #ecc61b;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin: 1.5rem;
}

#memory-game .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f0f0f0;
  font-size: 2rem;
  margin: 2rem;
  gap: 2rem;
}

#memory-game .stats .lives {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

#memory-game .board {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  margin-bottom: 3rem;
}

#memory-game .board .cell {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: inset -1px -1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset -1px -1px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: #2573C1;
}

#memory-game .board .hidden {
  background-color: #2573C1;
  -webkit-animation: .2s flip-back ease-in-out;
          animation: .2s flip-back ease-in-out;
}

#memory-game .board .show {
  background-color: white;
  -webkit-animation: .2s flip ease-in-out;
          animation: .2s flip ease-in-out;
}

#memory-game .board .wrong {
  background-color: #103a64;
  -webkit-animation: .5s wrong linear;
          animation: .5s wrong linear;
}

.card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 1rem 0;
}

.card-container .card {
  border-radius: 10px;
  padding: 2rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 100%;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.card-container .card p {
  margin-bottom: auto;
  margin-top: .5rem;
}

.card-container .icon {
  font-size: 3rem;
  color: #6faee2;
  margin: 1rem;
}

.card-container .squares-icon {
  font-size: 1.6rem;
}

.card-container .title {
  font-size: 1.5rem;
}

.card-container .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.card-container .link:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

#footer {
  background-color: #f0f0f0;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    background-color: #2573C1;
  }
  50% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    background-color: white;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes flip {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    background-color: #2573C1;
  }
  50% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    background-color: white;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes flip-back {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    background-color: #2573C1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes flip-back {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    background-color: #2573C1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes wrong {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes wrong {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}
/*# sourceMappingURL=style.css.map */